.order-dropdown{
    float: right;
    width: 100%;
}

.dropdown-wrapper{
    min-width: 120px;
    max-width: 300px;
    margin-bottom: 15px;
    height: 38px;
}

.cards-wrapper{
    width: 100%;
    min-height: 70px;
}