.card-image{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-price{
    font-size: 24px;
    color: #333333;
}

.card-price-currency{
    font-size: 16px;
    color: #333;
}

.card-name{
    font-size: 14px;
    color: #221f1f;
}

.card-price-wrapper{
    margin: 10px 0 5px;
}

.card-additional-info{
    color: #797878;
    font-size: 12px;
}

.ui.card.card-box{
    width: 100%;
}

.card-image .image img {
    max-height: 170px;
    max-width: 250px;
}